@use './variables'as *;

// header splash
.indexHead {
    background-image: url(../assets/home-1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    .navFlex {
        display: flex;
    }
    .flexItem {
        flex-grow: 1;
    }
    .flexItemList {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .flexItemList img {
        position: relative;
        bottom: 10px;
    }
}

.contactHead {
    background-image: url(../assets/contact-1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    .navFlex {
        display: flex;
    }
    .flexItem {
        flex-grow: 1;
    }
    .flexItemList {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .flexItemList img {
        position: relative;
        bottom: 10px;
    }
}

.blogHead {
    background-image: url(../assets/blog-1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    .navFlex {
        display: flex;
    }
    .flexItem {
        flex-grow: 1;
    }
    .flexItemList {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .flexItemList img {
        position: relative;
        bottom: 10px;
    }
}

